.Calculator {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  user-select: none;
  background-color: #111;
  padding: 1rem 0.75rem;
  border-radius: var(--radius-3);
  -gray-8: #333;
  --gap: 0.75rem;
}

.screen {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-block: var(--size-5);
  border-radius: var(--radius-3);
  position: relative;
  margin-top: 1rem;

  p {
    color: var(--gray-1);
    margin: 0;
    font-size: 4.5rem;
    font-weight: var(--font-weight-3);
    white-space: nowrap;
    max-width: 100%;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  span {
    color: var(--gray-1);
    position: absolute;
    top: 1rem;
    left: 1rem;
  }
}

.numberPad {
  display: flex;
  flex-direction: column;
  gap: var(--gap);

  .row {
    display: flex;
    gap: var(--gap);
    flex: 3;
  }

  .key {
    background-color: var(--gray-8);
    color: var(--gray-1);
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-5);
    aspect-ratio: 1 / 1;
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-3);
    cursor: pointer;
    transition: 0.3s var(--ease-2);

    &.large {
      aspect-ratio: 16 / 8;
    }

    &.wide {
      flex: 2.1;
      aspect-ratio: 16 / 7;
      justify-content: flex-start;

      span {
        padding-left: 1.75rem;
      }
    }

    &:hover {
      background-color: var(--gray-7);
    }

    &.gray {
      background-color: var(--gray-6);
      color: var(--gray-9);
      font-size: var(--font-size-3);

      &:hover {
        background-color: var(--gray-4);
      }
    }

    &.accent {
      color: var(--gray-9);
      background-color: var(--pink-3);

      &:hover {
        background-color: var(--pink-2);
      }
    }

    &.active {
      background-color: var(--pink-5) !important;
    }
  }
}
